/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .d-flex {
    display: flex !important;
  }
  
  .flex-column {
    flex-direction: column !important;
  }
  
  .min-vh-100 {
    min-height: 100vh !important;
  }
  
  .mt-auto {
    margin-top: auto !important;
  }
  
  footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 1rem;
  }
  